@tailwind base;
  @tailwind components;
  @tailwind utilities;



  @layer base {
    :root {
      --sidebar-background: 210 100% 90%; /* Light Blue */
      --sidebar-foreground: 0 0% 0%; /* Black */
      --sidebar-primary: 214, 92%, 50%; /* #2463EB */
      --sidebar-primary-foreground: 0 0%, 100%;
      --sidebar-accent: 274, 22%, 79%;
      --sidebar-accent-foreground: 0 0% 0%;
      --sidebar-border: 236, 26%, 58%;
      --sidebar-ring: 226, 98%, 45%;
    }
    
    .dark {
      --sidebar-background: 217.2 32.6% 25%; /* Slightly lighter dark mode */
      --sidebar-foreground: 0 0% 100%; /* White */
      --sidebar-primary: 214, 92%, 50%; /* #2463EB */
      --sidebar-primary-foreground: 0 0%, 100%;
      --sidebar-accent: 274, 22%, 16%;
      --sidebar-accent-foreground: 0 0% 100%;
      --sidebar-border: 236, 26%, 27%;
      --sidebar-ring: 226, 98%, 45%;
    }
    
  }
  




  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }